/* !!! Imporatation des polices !!! */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

main{
  padding-bottom: 2.5rem;
  margin: 0;
}

/* !!! HEADER EN TITRE !!! */
.headcomp header{
  margin-top: 75px;
  padding: 20px 0px;
  font-size: 15px;
  text-align: center;
  border: rgb(231, 225, 225) 2px ;
  border-top-style:none;
  border-left-style:none;
  border-right-style:none;
  border-bottom-style:solid;
  letter-spacing: 4px;
  background-color: white;
}

.headcomp1 header{
  margin-top: 65px;
  margin-bottom: 10px;
  padding: 20px 0px;
  font-size: 15px;
  text-align: center;
  border: rgb(231, 225, 225) 2px ;
  border-top-style:none;
  border-left-style:none;
  border-right-style:none;
  border-bottom-style:none;
  letter-spacing: 4px;
  background-color: white;
}

/* !!! NAVBARRE !!! */
nav{
  z-index: 9999;
  overflow: hidden;
  background: #ffffff;
  height: 80px;
  width: 100%;
  position: fixed;
  top:0;
}

.logo {
  cursor: pointer;
}

label.logo{
  color: #000000;
  font-size: 30px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  float: left;
  display: inline;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: #000000;
  font-size: 15px;
  padding: 7px 5px;
  border-radius: 3px;
  text-transform: uppercase;
}

/* !!!   ACCUEIL    !!! */
/* !!! ARRIERE PLAN !!! */
.checkbtn{
  font-size: 30px;
  color: #000000;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.imagearplnvrmt {
  width: 100%;
  height: 780px;
  display: flex;
  justify-content: center;
}

.imagearpln {  
  width: 870px;
  height: 820px;
  background: linear-gradient(to left, #E6DACE 60%,#E6DACE 60%);
  position: absolute;
}

/* !!! CARRE MILIEU !!! */
.carreblanc {
  width: 700px;
  height: 500px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  position: absolute;
}

/* !!! DIV GAUCHE !!! */
.photodemoi {
  background-color: #F4ECE6;
  width: 350px;
  height: 500px;
  box-shadow: -11.31px 11.31px 25px 0px rgba(133, 126, 119, 0.23);
  text-align: center;
  position:relative; 
}

 .photodemoi1 {
  border-radius: 200px;
  margin: 0px 25px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.accutitre{
  margin-top: 10px;
  font-weight: 900;
}

.accueilbarre {
  background-color: #0554fb;
  width: 60px;
  height: 4px;
  border-radius: 5px;
  margin: 15px 0px;
}

.accutitre1{
  padding-top: 20px;
  letter-spacing: 3px;
  font-weight: 50;
  font-size: 15px;
  display: block;
  margin: auto 0px;
}

.barrebleupropos {
  background-color: #ffffff;
  color: #ffffff;
  position:absolute;
  width: 350px;
  padding: 10px 0px;
  bottom: 0;
  text-align: center;
  width:100%;
}

#iconreseau {
  font-size: 22px;
  margin: 15px 10px;
}

/* !!! DIV DROITE !!! */
.infoprinc {
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 500px;
  position: relative;
}

#accugrostitre{
  font-family: 'Poppins',sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin: 20px 40px;
  margin-top: 60px;
}

#accueavpara{
  font-family: 'Poppins',sans-serif;
  font-size: 15px;
  font-weight: 800;
  margin: 15px 40px;
  margin-bottom: 30px;
}

.cvboutton2 {
  cursor: pointer;
  text-align: initial;
  top: 15;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0554fb;
  padding: 10px 10px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  margin-left: 40px;
  font-size: 15px;
}

.cvboutton2:hover {
  transition: background-color 0.5s, transform 0.5s;
  color: #000000;
  border: solid 2px #0554fb;
  border-radius: 20px;
  background-color: transparent;
}

#accueavpara2{
  font-size: 15px;
  font-weight: 200;
  margin: 35px 40px;
  margin-bottom: 30px;
}

.infoprinc > ul{
  margin: 85px 70px;
}

.infoprinc > ul > li{
  margin: 25px 15px;
  list-style-type: disc;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 17px;
}

/* !!! A PROPOS !!! */
.proposoui {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.paragrmoi {
  text-align: center;
  width: 35%;
  margin: 45px 0px;
  display: block;
  margin: auto;
  padding: 50px 70px;
  line-height: 25px;
}

/* !!! COMPETENCES !!! */
.compflexx {
  width: 850px;
  margin: 0 auto;
  margin-top: 45px;
}

.compbox{
  padding: 0px 0%;
  align-items: center;
  display: flex;
}

.article1 {
  text-align: center;
  background-color: rgb(221, 221, 221);
  padding: 25px 5px;
  flex-grow: 4;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgb(0 1 1  / 15%);
  width: 380px;
  margin: 15px 15px;
}

.container{
  display: block;
  height: auto;
  width: 800px;
  border-radius: 3px;
  padding: 15px 15px;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 35px;
}

.container .bar:not(:last-child){
  margin-bottom: 15px;
}

.bar {
  width: 100%;
  background: rgb(224, 224, 224);
  border-radius: 5px;
  box-shadow: inset 5px 5px 10px #d3d3d3, 
  inset -5px -5px 10px #e2e2e2;
}

.bar-stat{
  padding: 8px 15px;
  border-radius: 5px;
  text-shadow: 0 0 5px rgb(201, 201, 201);
  background: #aec6c9;
  display: flex;
  align-items: center;
}

.bar-icon {
  height: 32px;
  width: 32px;
  margin-right: 13px;
}

section{
  display: none;
}

section:target{
  display: block;
}

section:not(:target){
  display: none;
}

/* ///////////// EXPERIENCES et FORMATIONS ////////////// */
#experiences, #formations {
  background-color: #e4dccc;
  height: 880px;
}

.bouttoncvvv {
  text-align: center;
}

.expboite {
  border-radius: 12px;
  display:flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 15px;
  background-color: white;
  width: 750px;
  height: 250px;
  box-shadow: -11.31px 11.31px 25px 0px rgba(138,131,124,0.23);
}

.expboite1 {
  border-radius: 12px;
  display: flex;
  align-items: center;
  text-align: left;
  margin: 15px 15px;
  background-color: white;
  width: 650px;
  height: 250px;
  box-shadow: -11.31px 11.31px 25px 0px rgba(138,131,124,0.23);
}

.expgauche{
  margin-left: 40px;
}

.formicon{
  height: 25px;
  width: 25px;
  margin-right: 25px;
}

.expflex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 40px;
}

.expdroite {
  width: 35%;
}

.exptitre1{
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #0554fb;
}

.exptitre2{
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-top: 10px;
  font-weight: 700;
}

.exptitre3{
  display: flex;
  align-items: center;
  font-size: 15px;
}

.exptache {
  line-height: 25px;
  font-size: 15px;
  color: #3d3d3d;
}

.cvboutton {
  cursor: pointer;
  text-align: initial;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0554fb;
  padding: 15px 15px;
  border-radius: 20px;
  color: white;
  margin-top: 20px;
  font-weight: 600;
}

.cvboutton:hover {
  transition: background-color 0.5s, transform 0.5s;
  color: #000000;
  border: solid 2px #0554fb;
  border-radius: 20px;
  background-color: transparent;
}

/*////////// CONTACT ////////////*/
#contact {
  background-color: #e4dccc;
  height: 880px;
}

/*////////// FORMULAIRE ////////////*/
.boite {
  position: relative;
  display: block;
  background-color: #e4dccc;
  margin: 0 auto;
  width: 800px; 
  padding: 10px 10px;
}

.droite {
  background-color: white;
  padding: 35px;
  margin-top: 10px;
  border-radius: 10px;
}

.barre {
  height: 30px;
  width: 710px;
}

.barre-grosse {
  height: 145px;
  width: 710px;
   
}

input, textarea { 
  border: 1px solid #d9dee3;
  border-radius: 5px;
  color: #000000;
  text-align: left;
  font-size: 13px;
  font-family: 'Noto Sans', sans-serif;
  padding-left: 10px;
}

textarea{
  padding: 5px 10px;
}

.submit {
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  background-color: #595959;
  margin-top: 5px;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
  
}

.submit:hover {
  background-color: rgb(112, 112, 112);
}

h3 {
  padding-top: 12px;
  font-size: 14px;
  font-weight: 500;
}

form, #formupara {
  margin-top: 10px;
  line-height: 20px;
  font-size: 11px;
  color: #595959;
}

#formutitre{
  font-size: 25px;
}

#formupara {
  font-size: larger;
}
/*///////// FIN FORMULAIRE //////////*/


/*//////// FOOTER //////// */
.basdepage{
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
	padding:15px 0px;
	background-color:#ffffff;
	text-align:center;
  flex-direction: row;
  bottom: 0;
  width:100%;
  padding-top:25px;
  font-size:smaller;
  font-weight: normal;
  font-family: 'Readex Pro', sans-serif;
  color: rgb(70, 70, 109);
  flex-shrink: 0;
}

.fooinfo {
  display: flex;
  justify-content: space-between;
}

.fooinfo2 {
  margin: 0px 25px;
}

.fooinfo2, p {
  margin-bottom: 5px;
}

#footiconreseau{
  font-size: 16px;
  margin: 5px 5px;
}

/*///////////////////////////
        MEDIA QUERIES
///////////////////////////*/

@media (max-width: 1740px){
  .imagearpln {
  width: 500px;
  height: 820px;
  background: linear-gradient(to left, #E6DACE 60%,#E6DACE 60%);
  }
}

@media (max-width: 1252px){
  nav ul li a{
    font-size: 16px;
  }
    
  label.logo{
    padding: 0px 15px;
  }
}


@media (max-width: 1015px){
  .imagearpln {
    width: 100%;
    height: 380px;
    background: linear-gradient(to left, #E6DACE 60%,#E6DACE 60%);
  }

  .checkbtn{
    display: block;
    margin-right: 20px;
  }

  ul{
    font-weight: 900;
    position: fixed;
    width: 100%;
    height: auto;
    background: #aec6c9;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li{
    display: block;
    margin: 15px 0;
    line-height: 40px;
    width: 100%;
    padding: 10px 2px;

  }

  nav ul li a{
    font-size: 15px;
    padding: 10px 0px;
  }

  a:hover,a.active{
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul{
    left: 0;
  } 

  .compbox {
    flex-direction: column;
  }

  .compflexx{
    width: auto;
  }

  .container{
    width: 500px;
    font-size: 15px;
  }

  .boite {
    width: 70vw; 
  }
  
  .barre {
    width: 50vw;
  }
  
  .barre-grosse {
    width: 50vw;
     
  }
}

@media (max-width: 895px){
  .imagearpln {
    width: 100%;
    height: 380px;
    background: linear-gradient(to left, #E6DACE 60%,#E6DACE 60%);
    
  }
  
  body {
    min-height: 135vh;
  }

  #accugrostitre {
    margin: 0px 0px;
    padding: 20px 40px;
    padding-top: 40px;
  }

  #accueil {
    margin: auto;
  }

  .photodemoi {
    width: 25rem;
    margin: 0 auto;
  }

  .infoprinc {
    width: 25rem;
    margin: 0 auto;
  }

  .basdepage{
    display: flex;
    flex-direction: column-reverse;
    background:rgb(255, 255, 255);
    width:100%;
    padding-top:20px;
    height:150px;
    font-size:12px;
    position: absolute;
    margin-top: 150px;
  }

  .fooinfo {
    display: flex;
  }

  .carreblanc {
    display: block;
    height: 900px;
    width: 100%;
    margin-top: 30px;
  }

  nav{
    padding: auto;
  }
}

@media (max-width: 520px){
  .photodemoi {
    width: 17rem;
    margin: 0 auto;
  }

  .infoprinc {
    width: 17rem;
    margin: 0 auto;
  }

  .fooinfo {
    display: block;
  }

  #footgras{
    margin-top: 10px;
  }

  .foogauche{
    padding: 25px 25px;
  }

  .basdepage{
    margin-top: 240px;
  }

  #accugrostitre {
    padding: 35px 15px;
    padding-bottom: 0px;
  }

  #accueavpara {
    margin: 15px 15px;
    margin-bottom: 30px;
  }

  .cvboutton2 {
    margin-left: 15px;
    margin-top: 15px;
  }

  #accueavpara2 {
    margin: 45px 15px;
  }

  body {
    min-height: 140vh;
  }

  .submit {
    margin-top: -11px;
  }
}

@media (max-width: 450px){
  .imagearpln {
    width: 100%;
    height: 380px;
    background: linear-gradient(to left, #E6DACE 60%,#E6DACE 60%);  
  }
    
    ul {
    height: 180px;
    max-height: 180px;
    width: 100%;
    overflow-y: scroll;
   -webkit-overflow-scrolling:touch;
  }

  .droite {
    padding: 10px;
  }

  #rc-imageselect,.g-recaptcha {
    transform:scale(0.60);
    -webkit-transform:scale(0.60);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;

  }

  body {
    min-height: 200vh;
  }
  
}

@media (max-width: 350px){
  label.logo{
    font-size: 20px;
    padding: 0px 15px;
  }
}



