/* !!! Imporatation des polices !!! */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans', sans-serif;
}

/* !!! NAVBARRE !!! */

nav{
  z-index: 9999;
  overflow: hidden;
  background: #ffffff;
  height: 80px;
  width: 100%;
  position: fixed;
  top:0;
}

.logo {
  cursor: pointer;
}

label.logo{
  color: #000000;
  font-size: 30px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  float: left;
  display: inline;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: #000000;
  font-size: 15px;
  padding: 7px 5px;
  border-radius: 3px;
  text-transform: uppercase;
}

/* !!! ACCUEIL !!! */

.accueilbarre {
  background-color: #0554fb;
  width: 70px;
  height: 7px;
  border-radius: 5px;
  margin: 15px 0px;
  display: flex;
  justify-content: center;
}

.checkbtn{
  font-size: 30px;
  color: #000000;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

main {
  margin: 3vh auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 80%;
}

.imagearplnvrmt {
  width: 100%;
  height: 780px;
  display: flex;
  justify-content: center;
}

.imagearpln {  
  width: 870px;
  height: 780px;
  background: linear-gradient(to left, #e4dccc 60%,#e4dccc 60%);
  position: absolute;
}

.carreblanc {
  width: 700px;
  height: 500px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  position: relative;
}

.photodemoi {
  background-color: #f4ece6;
  width: 350px;
  height: 500px;
  box-shadow: -11.31px 11.31px 25px 0px rgba(133, 126, 119, 0.23);
  text-align: center;

}

.accutitre{
  margin-top: 10px;
}

.infoprinc {
  background-color: rgb(241, 241, 241);
  width: 350px;
  height: 500px;
  box-shadow: -11.31px 11.31px 25px 0px rgba(138,131,124,0.23);
}

.infoprinc > ul{
  margin: 85px 70px;
}

.infoprinc > ul > li{
  margin: 25px 15px;
  list-style-type: disc;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 17px;
}

.barrebleupropos {
  background-color: #c8d9db;
  color: #ffffff;
  width: 350px;
  padding: 10px 0px;
  bottom: 0;
  text-align: center;
  width:100%;
}

#iconreseau {
  font-size: 22px;
  margin: 20px 10px;
}

 .photodemoi1 {
  border-radius: 200px;
  margin-top: 15px;
}

.accroche1 {
  font-weight: normal;
  font-family: 'Readex Pro', sans-serif;
  text-align: center;
  padding-top: 35px;
  font-family: "Calibri";
  font-size:20px;
  font-weight: 700;
}

/* !!! A PROPOS !!! */

.proposoui {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.paragrmoi {
  text-align: center;
  width: 35%;
  margin: 45px 0px;
  display: block;
  margin: auto;
  padding: 50px 70px;
  line-height: 25px;
}

.headcomp header{
  margin-top: 75px;
  padding: 20px 0px;
  font-size: 15px;
  text-align: center;
  border: rgb(231, 225, 225) 2px ;
  border-top-style:none;
  border-left-style:none;
  border-right-style:none;
  border-bottom-style:solid;
  letter-spacing: 4px;
  background-color: white;
}

.compflexx {
  width: 850px;
  margin: 0 auto;
  margin-top: 45px;
}


.compbox{
  padding: 0px 0%;
  align-items: center;
  display: flex;
}

.article1 {
  text-align: center;
  background-color: rgb(221, 221, 221);
  padding: 25px 5px;
  flex-grow: 4;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgb(0 1 1  / 15%);
  width: 380px;
  margin: 15px 15px;
}

.container{
  display: block;
  height: auto;
  width: 800px;
  border-radius: 3px;
  padding: 15px 15px;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 35px;
}

.container .bar:not(:last-child){
  margin-bottom: 15px;
}

.bar {
  width: 100%;
  background: rgb(224, 224, 224);
  border-radius: 5px;
  box-shadow: inset 5px 5px 10px #d3d3d3, 
  inset -5px -5px 10px #e2e2e2;
}

.bar-stat{
  padding: 8px 15px;
  border-radius: 5px;
  text-shadow: 0 0 5px rgb(201, 201, 201);
  background: #aec6c9;
  display: flex;
  align-items: center;
}

.bar-icon {
  height: 32px;
  width: 32px;
  margin-right: 13px;
}

section{
  display: none;
}

section:target{
  display: block;
}

#accueil {
  display: block;
}

section:not(:target){
  display: none;
}

/*////////// FORMULAIRE ////////////*/

.boite {
  position: relative;
  display: flex;
  background-color: #e4dccc;
  border-radius: 10px;
  margin: 0 auto;
  width: 980px; 
  padding: 30px 30px;
  
}

.gauche {
  padding-right: auto;
  padding: 0px 40px;
  background-color: #aec6c9;
  text-align: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.droite {
  background-color: white;
  padding: 35px;
  font-size: small;
  padding-top: 3px;
  
}

.barre {
  height: 35px;
  width: 580px;
}

.barre-grosse {
  height: 175px;
  width: 580px;
   
}

input, textarea { 
  border: 1px solid #d9dee3;
  border-radius: 5px;
  color: #000000;
  text-align: left;
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
  padding-left: 10px;
}

textarea {
  padding: 10px;
}

.submit {
  cursor: pointer;
  padding: 13px 23px;
  color: white;
  background-color: #595959;
  margin-top: 15px;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
  
}

.submit:hover {
  background-color: rgb(112, 112, 112);
}

h3 {
  padding-top: 18px;
  font-size: 15px;
  font-weight: 500;
}

#formutitre {
  padding-top: 50px;
}

#formutitre, #formupara{
  padding-right:19%;
  padding-left: px;
}


#formupara {
  font-size: larger;
}

/*///////// FIN FORMULAIRE //////////*/

.basdepage{
	padding:35px 0px;
	background-color:#ffffff;
	text-align:center;
  position: absolute;
  bottom:0;
  width:100%;
  padding-top:35px;
  font-size: smaller;
  font-weight: normal;
  font-family: 'Readex Pro', sans-serif;
  color: rgb(70, 70, 109);
}

#CONTACT {
  background-color: #e4dccc;
  height: 800px;
  text-align: center;
}

/* ///////////// EXPERIENCES ////////////// */

#EXPERIENCES {
  background-color: #e4dccc;
  height: 800px;
}

.bouttoncvvv {
  text-align: center;
}

.expboite {
  display:flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 15px;
  background-color: white;
  width: 750px;
  height: 250px;
  box-shadow: -11.31px 11.31px 25px 0px rgba(138,131,124,0.23);
}

.expflex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 40px;
}

.expdroite {
  width: 35%;
}

.exptitre1{
  font-size: 20px;
  color: #0554fb;
}

.exptitre2{
  font-size: 17px;
  margin-top: 10px;
  font-weight: 700;
}

.exptitre3{
  font-size: 15px;
}

.exptache {
  line-height: 25px;
  font-size: 15px;
  color: #3d3d3d;
}

.cvboutton {
  cursor: pointer;
  text-align: initial;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0554fb;
  padding: 15px 15px;
  border-radius: 20px;
  color: white;
  margin-top: 20px;
  font-weight: 600;
}

.cvboutton:hover {
  transition: background-color 0.5s, transform 0.5s;
  color: #000000;
  border: solid 2px #0554fb;
  border-radius: 20px;
  background-color: transparent;
}


@media (max-width: 350px){
  label.logo{
    font-size: 20px;
    padding: 0px 15px;
  }
}

@media (max-width: 1252px){
  nav ul li a{
    font-size: 16px;
  }
    
  label.logo{
    padding: 0px 15px;
  }
}

@media (max-width: 1050px){
  .checkbtn{
    display: block;
    margin-right: 20px;
  }

  ul{
    font-weight: 900;
    position: fixed;
    width: 100%;
    height: auto;
    background: #aec6c9;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li{
    display: block;
    margin: 15px 0;
    line-height: 40px;
    width: 100%;
    padding: 10px 2px;

  }

  nav ul li a{
    font-size: 15px;
    padding: 10px 0px;
  }

  a:hover,a.active{
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul{
    left: 0;
  }

  .carreblanc {
    width: 500px;
    height: 1500px;
  }
}

@media (max-height: 441px){

  ul {
    height: 180px;
    max-height: 180px;
    width: 100%;
    overflow-y: scroll;
   -webkit-overflow-scrolling:touch;
  }
}